.board {
    max-width: 100%;
    max-height: 100vh;
    width: 300px;
    height: 300px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.row {
    height: calc((100% / 3) - 5px);
    display: flex;
    justify-content: space-between;
}
.space-button {
    width: calc((100% / 3) - 5px);
    height: 100%;
    border-radius: 0;
    border: none;
    background: white;
    font-size: 70px;
    text-transform: uppercase;
}
.space-button:disabled {
    color: black;
}
.space-button:focus {
    outline: 6px dotted #008a00;
    outline-offset: 2px;
}
h1 {
    text-align: center;
    margin: 1rem auto;
}
.player-select-copy {
    text-align: center;
    margin: 0.5rem auto;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: calc(100% - 20px);
    margin: 0.5rem auto 1rem;
}
.btn-container button {
    height: 60px;
    width: 130px;
    max-width: calc(50% - 20px);
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
}
.btn-container button:hover:not(:disabled) {
    background: black;
    color: white;
    cursor: pointer;
}
.btn-container button.selected {
    background: black;
    color: white;
    cursor: pointer;
}
.game-result {
    text-align: center;
    margin: 1rem auto;
    text-transform: uppercase;
    font-size: 2rem;
}
.reload-button {
    height: 60px;
    width: 130px;
    max-width: calc(50% - 20px);
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    margin: 0 auto;
    display: block;
}
.reload-button:hover {
    background: black;
    color: white;
    cursor: pointer;
}
